*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #000;
}

.topo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #bbb;
}
.topo a{
    background-color: #444;
    color: #ddd;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    text-decoration: none;
}
.topo a:hover{
    background-color: #888;
    color: #fff;
}

.modulos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    gap:10px;
}

.modulos a, button{
    background-color: #008;
    color: #ddd;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    text-decoration: none;
}

.modulos a:hover, button:hover{
    background-color: #00d;
    color: #fff;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.led{
    border: 4px solid #000;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.led_desconectado{
    background-color: #888;
}

.led_conectando{
    background-color: #f80;
}

.led_erro{
    background-color: #c00;
}

.led_conectado{
    background-color: #0c0;
}