.ladoladoArea{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap:10px;
    padding: 10px;
}

.painel{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: #444;
    gap:10px;
}
